body {
  font-family: Tahoma;
}

aside {
  float: left;
  width: 300px;
}

main {
  float: left;
  width: 70%;
}

ol {
  list-style-type: none;
}

.sub-nav {
  display: none;
}

#breadcrumbs > ol li {
  float: left;
  /*width: 100px;*/
}

#breadcrumbs > ol li:after {
  content: ' /';
}

#breadcrumbs > ol li a {

}

h1 {
  color: teal;
}
