body {
  font-family: Tahoma;
}

header {
  text-align: center;
  background-color: lightgray;
  padding: 20px;
  margin: 0;
  border-bottom: 1px dashed gray;
}
  header h1 {
    color: black;
  }

aside {
  float: left;
  width: 300px;
}

main {
  float: left;
  width: 70%;
}

ol {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

aside > ol > li {
  margin: 0 0 8px 0;
}

.sub-nav {
  display: none;
}

#breadcrumbs > ol li {
  float: left;
}

#breadcrumbs > ol li:after {
  content: ' /';
}

#breadcrumbs > ol li a {

}

h1 {
  color: teal;
}
